 #body {
     text-transform: uppercase;
}

*, a, p, h1, h2, h3, h4 {
    color: rgb(29, 12, 0);
    padding: 5px;
    font-family: 'Georgia', 'Lucida Grande', 'Cambria', 'Helvetica';
}
h1, h2 {
    text-align: center;
    margin: 3px;
}

#p {
    text-transform: none;
    font-size: 16;
    font-weight: normal;

}
#main-menu {
    width: 100%;
    max-height: 5%;

}
.main-item {
    float: left;
    text-decoration: underline;
    list-style-type: none;
    padding: 5%;
 
}

a {
    font-size: 20;
    font-weight: bold;
    text-decoration: none;

}

#logo {
    height: 10%;
    float: left;
}
.symbol {
    height: 5%;
    float: right;
}

#top-image {
    margin: none;
    width: 100%;
}

.pic {
    width: 100%;
}
.container {
    margin: 5px auto 5px auto;
}
.product:hover {
    border: 2px solid rgb(29, 12, 0);

}
.product {
    border: 1px solid rgb(29, 12, 0);
}
.card-text {
    text-transform: none;
}
.items {
    visibility: hidden;
}
.items:active {
    visibility: visible;
}
/*use parallax to make
 background images scroll 
 behind the text*/
